<section class="p-6 text-center bg-zinc-200">
  <h2 class="text-2xl font-bold mb-16">Sobre Mim</h2>
  <p class="text-lg mb-4 mt-4 font-semibold">Desenvolvedora em formação | Apaixonada por tecnologia e inovação</p>

  <div class="max-w-3xl mx-auto text-justify  space-y-4 ">
    <p>Sou uma estudante apaixonada por tecnologia e inovação, sempre buscando novos desafios e oportunidades de
      crescimento. Tenho uma curiosidade constante por aprender e me aprimorar, o que me motiva a explorar soluções
      inovadoras e eficientes no desenvolvimento de software.</p>

    <p>Atualmente, estou cursando Análise e Desenvolvimento de Sistemas na Fatec Zona Leste, com previsão de formatura em
      agosto de 2025, cursando as disciplinas de TCC e estágio. Busco uma oportunidade de trabalho onde possa colaborar
      ativamente com equipes, atender requisitos com alta qualidade e desenvolver soluções tecnológicas impactantes.</p>

    <h3 class="text-lg font-semibold text-center mb-4 mt-4">🚀 Destaques da minha trajetória:</h3>
    <ul class="list-disc list-inside">
      <li>Habilidade para trabalhar de forma colaborativa em equipe, sempre pronta para contribuir e crescer profissionalmente.</li>
      <li>Interesse em aprender e me aprimorar continuamente em desenvolvimento de software.</li>
      <li>Capacidade de acelerar o impacto e fazer mudanças significativas, contribuindo para soluções eficazes e inovadoras.</li>
      <li>Participação ativa em hackathons e bootcamps renomados, aprimorando minhas habilidades técnicas e de trabalho em equipe.</li>
    </ul>

    <h3 class="text-lg font-semibold mb-4 mt-4 text-center">🎯 Objetivo:</h3>
    <p>Atuar como desenvolvedora, aplicando minhas habilidades técnicas em projetos desafiadores, colaborando com
      equipes para criar soluções inovadoras e escaláveis, enquanto continuo me desenvolvendo profissionalmente.</p>

    <p class="text-center font-semibold mb-4 mt-4">📩 Aberta a conexões e oportunidades! Vamos conversar?</p>
  </div>
</section>
