<nav class="flex justify-between items-center px-4 py-2 bg-gray-900 text-white border-b border-gray-700">
  <div class="text-green-500 text-2xl font-bold custom-logo">Thais Portfolio</div>
  <ul class="flex space-x-6 text-gray-300 text-lg m-1">
    <li><a routerLink="/" class="text-green-400">Home</a></li>
    <li><a routerLink="/projects" class="hover:text-green-400">Projetos</a></li>
    <li><a routerLink="/skills" class="hover:text-green-400">Skills</a></li>
    <li><a routerLink="/about" class="hover:text-green-400">About</a></li>
    <li><a routerLink="/contact" class="hover:text-green-400">Contato</a></li>
  </ul>
</nav>
